@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    font-family:'PT serif';
    background-color: #000000;
    color: #eee;
}

.header{
     background: url(https://68.media.tumblr.com/8f672b87a1d75ccdb532905decd5383e/tumblr_mznaq8xlAZ1rqxxrao2_500.gif) no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 2rem rem;
    position: relative;
}


h1 {
    color: #ffffff;
    text-align: center;
}

div.header p {
    text-align: center;
}


h2 {
    color: #ffffff;
}

h3 {
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: #CC001B;
    height: 25px;
}

a:hover {
    color: #CC001B;
    border-radius: 100%;
}


/*HEADER*/

header {
    background: linear-gradient(to right, #000000, #000000);
    padding: 50px;
    text-align: center;
}


header h1 {
    margin: 0;
    font-size: 2.8rem;
    color: #fff;
}


/*NAV*/
nav {
    background-color: #222;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 25px;
}


nav a {
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
}


nav a:hover {
    color: #CC001B;
}


/* Section  */
section {
    padding: 40px;
}


/* Hero */
.hero {
    background: url("https://wallpapers.com/images/hd/msi-4k-red-dragon-circuit-board-42b0ylkkc56sxg9l.jpg") no-repeat center/cover;
    padding: 150px 20px;
    text-align: center;
    color: #fff;
}


.btn {
    background-color: silver;
    color: rgb(0, 0, 0);
    padding: 0.70rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    padding: 1% 1%;
    transition: background-color 0.3s;
}


.btn:hover {
    background-color: #8b0000;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
    gap: 20px;
}


.card {
    background-color: #ff0000;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 5px;
    max-width: 360px;
    box-shadow: 0 4px 8x rgb(0, 0, 0, 0.1);
    transition: transform 0.3 ease, box-shadow 0.3 ease;
}


.card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(255, 0, 0, 0.2);
}


.card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0;
    margin-bottom: 15px;
}


/* Footer */
footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    color: #CC001B;
    font-size: 0.9rem;
    margin-top: 50px;
}